{% comment %}
  This will only work to see blocks above the gallery in the mobile version.
{% endcomment %}
<div class="product__blocks-above-media-mobile md:block product__blocks accordion-parent">
  {%- for block in section.blocks -%}
    {%- liquid
      unless block.settings.show_above_product_media_mobile
        continue
      endunless

      assign block_classes = 'product__block product__block--' | append: block.type
    -%}
    {%- case block.type -%}
      {%- when 'title' -%}
        <div class="{{ block_classes }} dc_hide_on_desktop" {{ block.shopify_attributes }}>
          <h1 class="product__title {{ block.settings.heading_size }}">{{ product.title | escape }}</h1>
          <a href="{{ product.url }}" class="product__title">
            <h2 class="h1">
              {{ product.title | escape }}
            </h2>
          </a>
        </div>

      {%- when 'price' -%}
        <div class="{{ block_classes }} dc_hide_on_desktop" {{ block.shopify_attributes }}>
          <div id="price-{{ section.id }}" role="status">
            {%- render 'price',
              product: product,
              use_variant: true,
              show_sale_badge: false,
              price_class: 'f-price--large',
              block: block
            -%}
          </div>
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="volume-pricing-note text-subtext" id="VolumeNote-{{ section.id }}">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
          <div class="product__tax text-sm text-subtext rte">
            {%- if cart.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
        </div>
      {%- when 'text' -%}
        <div class="{{ block_classes }} rte dc_hide_on_desktop" {{ block.shopify_attributes }}>
          {% if block.settings.richtext_field != blank %}
            <div class="rte text-subtext">
              {{ block.settings.richtext_field }}
            </div>
          {% else %}
            <p class="product__text inline-richtext m-0{% if block.settings.text_style == 'uppercase' %} text-upper{% elsif block.settings.text_style == 'subtitle' %} text-upper text-subtext{% endif %}">
              {{- block.settings.text -}}
            </p>
          {% endif %}
        </div>
      {%- when 'season-price' -%}
        <style>
          .dc_season-price {
            display: flex;
            flex-direction: row;
            gap: 12px;
            margin: -12px 0px 24px 0px;
            font-family: {{ block.settings.season_font_family }};
            align-items: center;
            justify-content: flex-start;
          }

          .dc_season-price-row {
            display: contents;
          }

          .dc_compare-at-price {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.02em;
            vertical-align: middle;
            text-decoration: line-through;
            color: {{ block.settings.season_compare_at_color }};
          }

          .dc_regular-price {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.02em;
            vertical-align: middle;
            color: {{ block.settings.season_regular_price_color }};
          }

          .dc_season-price-box {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 4px 8px;
            border-radius: 4px;
            background-color: {{ block.settings.season_price_background }};
            opacity: 1;
          }

          .dc_season-price-box span {
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;
            letter-spacing: 0;
            vertical-align: middle;
            color: {{ block.settings.season_price_color }};
          }

          .dc_season-tag {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            vertical-align: middle;
            color: {{ block.settings.season_tag_color }};
          }

          @media screen and (max-width: 767px) {
            .dc_season-price {
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
            }

            .dc_season-price-row {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 12px;
            }
          }
        </style>
        <div class="dc_season-price dc_hide_on_desktop" {{ block.shopify_attributes }}>
          <div class="dc_season-price-row">
            <div class="dc_compare-at-price">{{ block.settings.season_compare_at_text | escape }}</div>
            <div class="dc_regular-price">{{ block.settings.season_regular_price_text | escape }}</div>
          </div>
          <div class="dc_season-price-row">
            <div class="dc_season-price-box">
              <span>{{ product.price | money }}</span>
            </div>
            <div class="dc_season-tag">{{ block.settings.season_tag_text | escape }}</div>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>
