{%- if block.settings.frequently_bought_with_product != blank -%}
  {%- assign fbw_product = block.settings.frequently_bought_with_product -%}
  {%- assign fbw_variant = fbw_product.selected_or_first_available_variant -%}
  {%- assign fbw_featured_media = fbw_product.featured_media -%}

  {%- if fbw_featured_media != blank -%}
    {%- assign image_ratio = fbw_featured_media.aspect_ratio -%}
  {%- else -%}
    {%- assign image_ratio = 1 -%}
  {%- endif -%}

  <div class="frequently-bought-with-container">
    <h3 class="frequently-bought-with__title">{{ block.settings.frequently_bought_with_title }}</h3>

    <frequently-bought-with
      class="frequently-bought-with-item"
      data-product-id="{{ fbw_product.id }}"
      data-variant-id="{{ fbw_variant.id }}"
    >
      <div
        class="frequently-bought-with-card flex gap-3 items-start block-radius p-2-5"
        style="background-color: {{ block.settings.background_color }};"
      >
        {%- if fbw_featured_media -%}
          <div class="frequently-bought-with-col frequently-bought-with-col--checkbox">
            <div class="frequently-bought-with-image">
              <input
                type="checkbox"
                id="FBW-Checkbox-{{ block.id }}"
                class="frequently-bought-with-checkbox"
                data-product-id="{{ fbw_product.id }}"
                data-variant-id="{{ fbw_variant.id }}"
                data-product-title="{{ fbw_product.title | escape }}"
                data-product-price="{{ fbw_variant.price }}"
              >
              <label for="FBW-Checkbox-{{ block.id }}" class="frequently-bought-with-image-wrapper">
                {% capture image_alt %}{{ fbw_product.title }}{% endcapture %}
                {%- if fbw_featured_media.media_type == 'image' -%}
                  <img
                    src="{{ fbw_featured_media | image_url: width: 80 }}"
                    alt="{{ image_alt }}"
                    loading="lazy"
                    width="80"
                    height="{%- if image_ratio > 0 -%}{{ 80 | divided_by: image_ratio | round }}{%- else -%}80{%- endif -%}"
                    class="frequently-bought-with-image-img"
                  >
                {%- else -%}
                  <img
                    src="{{ fbw_featured_media.preview_image | image_url: width: 80 }}"
                    alt="{{ image_alt }}"
                    loading="lazy"
                    width="80"
                    height="{%- if image_ratio > 0 -%}{{ 80 | divided_by: image_ratio | round }}{%- else -%}80{%- endif -%}"
                    class="frequently-bought-with-image-img"
                  >
                {%- endif -%}
              </label>
            </div>
          </div>
        {%- endif -%}

        <div class="frequently-bought-with-col frequently-bought-with-col--details">
          <label for="FBW-Checkbox-{{ block.id }}" class="frequently-bought-with-title font-body-bolder text-sm-extra">
            {{ fbw_product.title | escape }}
          </label>
          <div class="frequently-bought-with-bottom-row">
            <div class="frequently-bought-with-price flex items-center gap-2">
              {%- if fbw_variant.price -%}
                <span class="frequently-bought-with-sale-price price font-body-bolder">
                  {{ fbw_variant.price | money }}
                </span>
              {%- endif -%}
              {%- if fbw_variant.compare_at_price and fbw_variant.compare_at_price > fbw_variant.price -%}
                <span class="frequently-bought-with-compare-price price-compare line-through text-subtext">
                  {{ fbw_variant.compare_at_price | money }}
                </span>
              {%- endif -%}
            </div>
            <div class="frequently-bought-with-links">
              <a href="{{ fbw_product.url }}" class="btn--text text-sm-extra">
                {{ 'products.product.more_details' | t }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </frequently-bought-with>
  </div>
{%- endif -%}
